table {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

#title{
    display: inline-block;
    width: 90%;
}

#add{
    display: inline-block;
}

button { 
    margin-left: 10px;
}