<mat-grid-list cols="2" rowHeight="40vh">
    <mat-grid-tile rowspan="2">
        <div class="canvasDiv" #canvasDiv>
            <canvas #canvas></canvas>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div #scrollMe class="messages">
            <p *ngFor="let msg of msgs">{{ msg }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Enviar Mensaje: </mat-label>
                <input matInput [(ngModel)]="message" name="message">
                <button mat-button (click)="sendMessage()">Enviar</button>
            </mat-form-field>
        </form>
    </mat-grid-tile>
</mat-grid-list>
