<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Torneo
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/"> <mat-icon>home</mat-icon> Home </a>
        <a mat-list-item routerLink="/jugadores"> <mat-icon>drag_handle</mat-icon> Jugadores </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

